body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.top{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0px 60px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    color: #F9FAF8;
    font-size: 24px;
}

.links{
    display: flex;
    gap: 16px;
}

a{
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.section1{
    display: flex;
    justify-content: space-evenly;
}

.info h1{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.info p{
    font-size: 18px;
    color:#E5E7EB;
}

.sign-up-button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-size: 18px;
}

#main-img{
    width:400px;
    height:auto;
}

.section2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2 h2{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.stinkee-content{
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 18px;
    color: grey;
}

.stinkee-content div{
    max-width: 200px;
}

.stinkee-content img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 2px solid blue;
    padding: 0px;
}

.section3{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote{
    font-size: 36px;
    padding: 0px 200px;
    text-align: center;
    margin-bottom: 0px;
}

.author{
    font-size: 36px;
    text-align: right;
    padding: 36px;
    margin: 0px 100px;
}

.section4{
    background-color: #3882F6;
    margin: 50px 150px;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    border-radius: 7px;
}

.section4 div{
    font-size: 24px;
    color:#F9FAF8;
}

.section4 .sign-up-button{
    border: 2px solid white;
    height: 50px;
    width: 100px;   
}

.footer{
    background-color: #1F2937;
    text-align: center;
    color:#E5E7EB;
    padding: 16px;
}
